header {
    background-color: #282c34;
    padding: 20px;
    text-align: center;
}

header h2 {
    color: white;
}

header div a {
    margin: 0 15px;
    text-decoration: none;
    color: #61dafb;
}

header div a:hover {
    color: white;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
